<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <p th:if="${param.error != ''}">Login Failed</p>
        
        <form th:action="@{/login}" method="POST">
            <label>
                Username: <input type="text" name="username" />
            </label>
            <label>
                Password: <input type="password" name="password" />
            </label>
            <input type="submit" value="Login" />
            <input type="hidden" th:name="${csrf.parameterName}" th:value="${csrf.token}" />
        </form>
    </body>
</html>
